{% extends 'components/base.html' %}
<!-- Page Content -->
{% block content %}
<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <section class="breadcrumbs">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <h2>Blogs</h2>
        <ol>
          <li><a href="{% url 'index:home' %}">Home</a></li>
          <li>Blogs</li>
        </ol>
      </div>
    </div>
  </section>
  <!-- End Breadcrumbs -->

  <section class="inner-page" style="padding: 0;" >
    <!-- Popular Courser -->
      <div id="pricing" class="pricing section-bg">
        <div class="container p-3" data-aos="fade-up">
          <div class="section-title">
            <h2>Popular Blogs</h2>
            <p>
              Explore the world of Machine Learning, Web Development, Statistics, 
              and more with our insightful blog posts. Our dedicated team of experts 
              shares valuable knowledge, practical tips, 
              and the latest trends to help you stay informed and empowered.
            </p>
          </div>
    
   
          <div class="row">
            {% if blogs %}
            {% for blog in blogs %}
            <div class="col-lg-3 col-md-6 mt-3" data-aos="fade-up" data-aos-delay="100">
              <div class="box">
                <img src="{{blog.coverImage}}" 
                class="img-fluid rounded"
                alt="" />
                <h5 class="mt-3">{{ blog.title }}</h5>
                <hr>
                <a href="{% url 'blog:blog_details'%}?slug={{blog.slug}}-{{blog.cuid}}">Read Details</a>
              </div>
            </div>
            {% endfor %}
            <!-- Pagination -->
            <div class="pagination col-md-6 m-auto">
              <span
                class="step-links d-flex justify-content-between p-3 border m-2 mt-3 rounded w-100" 
                style="background: whitesmoke;"
              >
                {% if blogs.has_previous %}
                <a href="?page=1">&laquo; First</a>
                <a href="?page={{ blogs.previous_page_number }}">Previous</a>
                {% endif %}

                <span class="current">
                  Page {{ blogs.number }}
                  <!-- Current number -->
                  of
                  <!-- Total number -->
                  {{ blogs.paginator.num_pages}}.
                </span>

                {% if blogs.has_next %}
                <a href="?page={{ blogs.next_page_number }}">Next</a>
                <a href="?page={{ blogs.paginator.num_pages }}"
                  >Last &raquo;</a
                >
                {% endif %}
              </span>
            </div>
            {% endif %}
          </div>
        </div>
  </section>
</main>
<!-- End #main -->

<!-- JavaScript -->
<script>
  document.querySelector("#header").style.background = "rgba(24, 6, 185, 0.8)";

  document.querySelector(".school").classList.add("active");
</script>
{% endblock %}
