{% extends 'components/base.html' %}
<!-- Page Content -->
{% block content %}
<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <section class="breadcrumbs">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <h2>School</h2>
        <ol>
          <li><a href="{% url 'index:home' %}">Home</a></li>
          <li>School</li>
        </ol>
      </div>
    </div>
  </section>
  <!-- End Breadcrumbs -->

  <section class="inner-page">
    <div class="container">
      <!-- Popular Courser -->
      <div id="pricing" class="pricing section-bg">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>Popular Courses</h2>
            <p>
              At our company, we believe in providing transparent and competitive
              pricing for our wide range of services. We understand that every
              project is unique, and we strive to offer flexible pricing options
              that cater to your specific needs and budget.
            </p>
          </div>
    
   
          <div class="row">
            <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
              <div class="box">
                <h3>FastAI</h3>
                <ul>
                  <li>
                    <i class="bi bi-reception-1"></i>
                    Introductory
                  </li>
                  <li>Juma Shafara</li>
                </ul>
                <div class="btn-wrap">
                  <a href="tel:+25670152768" class="btn-buy">Get Now</a>
                </div>
              </div>
            </div>
      </div>
  </section>
</main>
<!-- End #main -->

<!-- JavaScript -->
<script>
  document.querySelector("#header").style.background = "rgba(24, 6, 185, 0.8)";

  document.querySelector(".school").classList.add("active");
</script>
{% endblock %}
