{% extends 'components/base.html' %}
<!-- Page Content -->
{% block content %}
<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <section class="breadcrumbs">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <h2>School</h2>
        <ol>
          <li><a href="{% url 'index:home' %}">Home</a></li>
          <li>School</li>
        </ol>
      </div>
    </div>
  </section>
  <!-- End Breadcrumbs -->

  <section class="inner-page">
    <div class="container">
      <!-- Popular Courser -->
      <div id="pricing" class="pricing section-bg">
        <div class="container p-3" data-aos="fade-up">
          <div class="section-title">
            <h2>Popular Courses</h2>
            <p>
              Dive into the world of Web Development and Machine Learning with our curated courses and tutorials. From beginner to expert, learn from industry professionals and master the latest skills. Start your journey to innovation today!
            </p>
          </div>
    
   
          <div class="row">
            {% if courses %}
            {% for course in courses %}
            <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
              <div class="box">
                <h3>{{course.name}}</h3>
                <ul>
                  <li>
                    <i class="bi bi-{{course.level}}"></i>
                    {% if course.level == 'reception-1'%}
                    Beginner
                    {% elif course.level == 'reception-2'%}
                    Intermediate
                    {% elif course.level == 'reception-3'%}
                    Advanced
                    {% elif course.level == 'reception-4'%}
                    Explorer
                    {% else %}
                    {{course.level}}
                    {% endif %}
                  </li>
                  <li>
                    <i class="bi bi-shield-fill"></i>
                    {{course.organization}}
                  </li>
                  <li>
                    <i class="bi bi-person-fill"></i>
                    Juma Shafara
                  </li>
                </ul>
                <div class="btn-wrap">
                  <a href="{% url 'school:course_details' course.id %}" class="btn-buy">GET STARTED</a>
                </div>
              </div>
            </div>
            {% endfor %}
            {% endif %}
          </div>
  </section>
</main>
<!-- End #main -->

<!-- JavaScript -->
<script>
  document.querySelector("#header").style.background = "rgba(24, 6, 185, 0.8)";

  document.querySelector(".school").classList.add("active");
</script>
{% endblock %}
