{% extends 'components/base.html' %}
<!-- Page Content -->
{% block content %}
<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <section class="breadcrumbs">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <h2>Inner Page</h2>
        <ol>
          <li><a href="index.html">Home</a></li>
        </ol>
      </div>
    </div>
  </section>
  <!-- End Breadcrumbs -->

  <!-- Add Notes -->
  {% for note in notes %}
  <ul>
    <li><a href="{% url 'school:one_note' %}"></a></li>
  </ul>
  {% endfor %}
  <!-- End Notes -->
</main>
<!-- End #main -->

<!-- JavaScript -->
<script>
  const header = document.querySelector("#header");
  header.style.background = "rgba(24, 6, 185, 0.8)";
  const detailLoader = (content) => {
    document.querySelector(".detail").value = content;
  };
</script>

{% endblock %}
