{% extends 'components/base.html' %}
<!-- Page Content -->
{% block content %}
<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <section class="breadcrumbs">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <h2>School</h2>
        <ol>
          <li><a href="{% url 'index:home' %}">Home</a></li>
          <li><a href="{% url 'school:browse' %}">School</a></li>
          <li>Quiz</li>
        </ol>
      </div>
    </div>
  </section>
  <!-- End Breadcrumbs -->

  <section class="inner-page" style="padding: 0;" >
    <!-- Popular Courser -->
      <div id="pricing" class="pricing section-bg">
        <div class="container p-3" data-aos="fade-up">
          <div class="section-title">
            <h2>{{ quiz.name }}</h2>
            <p>
                {{ quiz.description }}
            </p>
          </div>

          <div class="container mt-4" data-aos="fade-up" data-aos-delay="100">
            <div class="row justify-content-center">
              <div class="col-lg-6">
            <form method="post">
              {% csrf_token %}
          
              {% for question in questions %}
              <div class="card mb-4">
                <div class="card-header text-white" style="background-color: rgba(24, 6, 185, 0.8);">
                  <h6 class="mb-0">{{ question.text }}</h6>
                </div>
                <div class="card-body">
                  {% for choice in question.choice_set.all %}
                  <div class="form-check mb-2">
                    <input type="radio" class="form-check-input" name="question_{{ question.id }}" id="choice_{{ choice.id }}" value="{{ choice.id }}">
                    <label class="form-check-label" for="choice_{{ choice.id }}">{{ choice.text }}</label>
                  </div>
                  {% endfor %}
                </div>
              </div>
              {% endfor %}
          
              <button type="submit" class="btn btn-lg text-white" style="background-color: rgba(24, 6, 185, 0.8);">Submit</button>
            </form>
          </div>
        </div>
          </div>
          
          
        </div>
  </section>
</main>
<!-- End #main -->

<!-- JavaScript -->
<script>
  document.querySelector("#header").style.background = "rgba(24, 6, 185, 0.8)";

  document.querySelector(".school").classList.add("active");
</script>
{% endblock %}
